{
    "presets": ["es2015-rollup"],
    "plugins": [
        ["transform-es2015-classes", { "loose": true }],
        "transform-inline-environment-variables",
        ["transform-react-jsx", {
          "pragma": "h",
        }]
    ]
}
