# RNA-CORE
# NPM
/node_modules
npm-debug.log
yarn-error.log

# LINT
.eslintcache

# TEST
/coverage

# RNA-CORE
# RNA-STRUCTURE
/packages/*/node_modules
/packages/*/dist
# RNA-STRUCTURE

.tmp*
.history
/api
.npmrc
