<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <?js= title ?>
    </title>
</head>

<body>

    <nav>
        <?js= this.nav ?>
    </nav>

    <div id="main">
        <?js= content ?>
    </div>


    <footer>
        DNA by <a href="http://www.chialab.com">Chialab</a>
    </footer>
</body>

</html>
