@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: #263238;
}

* {
    box-sizing: border-box;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    color: #263238;
    background: #fff;
}

#topbar a {
    margin-right: 1rem;
    color: inherit;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
}

#topbar a:first-child {
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 64em;
    margin: auto;
}

@media (min-width: 47em) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 0;
    border-bottom: solid 2px #f7f3f7;
}

summary {
    cursor: pointer;
}

header {
    padding: 2em 0;
    background: #f7f3f7;
}

@media (min-width: 47em) {
    header {
        padding: 6em 0;
    }
}

header .wrapper {
    position: relative;
    flex-direction: column;
    padding: 0 2em;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

header h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.4em;
    color: #666;
}

header img {
    margin: 0 auto;
}

@media (min-width: 47em) {
    header img {
        position: absolute;
        top: 50%;
        right: 2em;
        margin: auto;
        transform: translateY(-50%);
    }
}

main nav {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    line-height: 2em;
    margin: 0;
    padding: 2em;
    background: #f7f3f7;
}

@media (min-width: 47em) {
    main nav {
        position: sticky;
        top: 1em;
        flex: none;
        width: 16em;
        margin: 1em 0 0 0;
    }
}

@media (max-width: 46em) {
    main nav {
        margin: 1em 0;
    }
}

main nav a {
    text-decoration: none;
}

main nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main nav ul li li {
    margin-left: 1em;
    font-size: 0.8em;
}

main {
    background: #fff;
    padding: 0;
}

@media (min-width: 47em) {
    main {
        padding: 4em 0;
    }
}

article {
    width: 46em;
    max-width: 100%;
    order: 2;
    padding: 0 2em 2em 2em;
}

article a {
    color: #0e78d5;
}

article h1 {
    font-size: 2em;
    font-weight: 400;
}

article h2 {
    font-size: 1.5em;
    font-weight: 400;
}

article h3 {
    font-size: 1.35em;
    font-weight: 400;
}

article h1,
article h2,
article h3 {
    width: calc(100% + 2px);
    margin: 1em 0 0 -1px;
    padding: 0.5em 0;
}

article h1:first-child,
article h2:first-child,
article h3:first-child {
    margin: 0 0 0 -1px;
}

article code {
    position: relative;
    top: -1px;
    display: inline-block;
    padding: 0.25em;
    background: #f7f3f7;
    font-family: 'Fira Mono', monospace;
    line-height: 1.2em;
    font-size: 0.9em;
}

article pre {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    background: #f7f3f7;
    overflow-x: auto;
}

article pre code.hljs {
    display: block;
    width: 100%;
    max-width: 100%;
    color: #333;
    background: #f7f3f7;
    line-height: 2em;
}

article code.hljs .hljs-keyword {
    color: #1E90FF;
    font-weight: normal;
}

article code.hljs .hljs-meta,
article code.hljs .hljs-selector-tag,
article code.hljs .hljs-selector-class,
article code.hljs .hljs-selector-pseudo,
article code.hljs .hljs-selector-attr {
    color: #ff1e7c;
    font-weight: normal;
}

article code.hljs .hljs-type,
article code.hljs .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

article summary {
    display: flex;
    align-items: center;
}

article summary code {
    white-space: nowrap;
    flex: 1 auto;
    overflow-x: auto;
}

article table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

article table th,
article table td {
    padding: 0.5em 0.5em 0.5em 0;
    vertical-align: top;
}

article table thead {
    border-bottom: solid 2px #f7f3f7;
}

article table tbody td {
    border-bottom: solid 1px #f7f3f7;
}

article table code {
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: auto;
}

article table thead code {
    vertical-align: middle;
}

@media (max-width: 46em) {
    article table {
        display: block;
        overflow-x: auto;
    }

    article table tbody td {
        padding: 0.25em 0.5em 0.25em 0;
    }

    article table tbody td:last-child {
        min-width: 10em;
    }
}

article blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: solid 6px #f7f3f7;
    font-style: italic;
}

article aside {
    position: relative;
    margin: 1rem 0;
    padding: 1rem;
    border-top: dashed 4px #f7f3f7;
    border-bottom: dashed 4px #f7f3f7;
    font-size: 0.9em;
}

article p {
    margin-bottom: 0.75em;
}

article aside[class] {
    padding-left: 2.5rem;
}

article aside::before {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    line-height: 1em;
}

article aside.tip::before {
    content: '♛';
    font-size: 1.3em;
}

article aside.note::before {
    content: '✎';
    font-size: 1.5em;
}

article aside p:first-child,
article blockquote p:first-child {
    margin-top: 0;
}

article aside p:last-child,
article blockquote p:last-child {
    margin-bottom: 0;
}


article ul {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
}

article ul li::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background: #e5e5e5;
    border-radius: 100%;
    vertical-align: middle;
}

footer {
    padding: 3rem 0;
    color: #fefefe;
    background: #263238;
}

footer .wrapper {
    padding: 0 2em;
}

footer .wrapper > * {
    margin-bottom: 1em;
}

footer p {
    display: block;
    flex: none;
    width: 100%;
    max-width: 24em;
    margin: 0 0 0.5em 0;
}
