html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: #263238;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 64em;
    margin: auto;
}

@media (min-width: 47em) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: solid 2px #f7f3f7;
}

summary {
    cursor: pointer;
}

header {
    padding: 2em 0;
    background: #f7f3f7;
}

@media (min-width: 47em) {
    header {
        padding: 4em 0;
    }
}

header .wrapper {
    position: relative;
    flex-direction: column;
    padding: 0 2em;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

header h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.4em;
    color: #666;
}

header img {
    margin: 0 auto;
}

@media (min-width: 47em) {
    header img {
        position: absolute;
        top: -100vh;
        bottom: -100vh;
        right: 2em;
        margin: auto;
    }
}

nav {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    line-height: 2em;
    margin: 0;
    padding: 2em;
    background: #f7f3f7;
}

@media (min-width: 47em) {
    nav {
        position: sticky;
        top: 1em;
        flex: none;
        width: 16em;
        margin: 1em 0 0 0;
    }
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    background: #fff;
    padding: 0;
}

@media (min-width: 47em) {
    main {
        padding: 4em 0;
    }
}

article {
    width: 46em;
    max-width: 100%;
    order: 2;
    padding: 2em;
}

article a {
    color: #0e78d5;
}

article h1 {
    font-size: 2em;
    font-weight: 400;
}

article h2 {
    font-size: 1.5em;
    font-weight: 400;
}

article h3 {
    font-size: 1.35em;
    font-weight: 400;
}

article h1,
article h2,
article h3 {
    position: sticky;
    width: calc(100% + 2px);
    z-index: 2;
    background: rgba(255, 255, 255, 0.98);
    top: 0;
    margin: 0 0 0 -1px;
    padding: 0.5em 0;
}

article code {
    position: relative;
    top: -1px;
    display: inline-block;
    padding: 0.25em;
    background: #f7f3f7;
    font-family: monospace;
    line-height: 1.2em;
    font-size: 1.1em;
}

article pre {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    background: #f7f3f7;
    overflow-x: auto;
}

article pre code.hljs {
    display: block;
    width: 100%;
    max-width: 100%;
    color: #333;
    background: #f7f3f7;
}

article code.hljs .hljs-keyword {
    color: #1E90FF;
    font-weight: normal;
}

article code.hljs .hljs-type,
article code.hljs .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

article summary {
    display: flex;
    align-items: center;
}

article summary code {
    white-space: nowrap;
    flex: 1 auto;
    overflow-x: auto;
}

article table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

article table th,
article table td {
    padding: 0.5em 0.5em 0.5em 0;
}

article table thead {
    border-bottom: solid 2px #f7f3f7;
}

article table code {
    white-space: nowrap;
    overflow-x: auto;
}

footer {
    padding: 3rem 0;
    color: #fefefe;
    background: #263238;
}

footer .wrapper {
    padding: 0 2em;
}

footer .wrapper > * {
    margin-bottom: 1em;
}

footer a {
    color: inherit;
}

footer p {
    display: block;
    flex: none;
    width: 100%;
    max-width: 24em;
    margin: 0 0 0.5em 0;
}
