name: Main
on:
  workflow_dispatch:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  lint-build-test:
    uses: ./.github/workflows/lint_build_test.yml
    secrets: inherit

  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - lint-build-test
    permissions:
      id-token: write # Required for OIDC
      contents: write # Required to create the release
      pull-requests: write # Required to create the release PR
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install project dependencies
        run: yarn install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true

      - name: Run build script
        run: yarn build

      - name: Lint package
        run: yarn publint --pack npm

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ""
