name: Pull Request
on:
  pull_request:
    types: [opened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-build-test:
    uses: ./.github/workflows/lint_build_test.yml
    secrets: inherit

  test-browserstack:
    name: Test Browserstack
    runs-on: ubuntu-latest
    concurrency: browserstack
    strategy:
      max-parallel: 2
      matrix:
        browser:
          - 'chrome-latest'
          - 'chrome-latest-1'
          - 'chrome-latest-2'
          - 'chrome-87'
          - 'firefox-latest'
          - 'firefox-latest-1'
          - 'firefox-latest-2'
          - 'firefox-90'
          - 'safari-latest'
          - 'safari-16'
          - 'safari-15'
          - 'edge-latest'
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install project dependencies
        run: yarn install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true

      - name: Run tests
        run: yarn test:browserstack --browser browserstack:${{ matrix.browser }}
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
